body {
  margin: 0;
}
header {
  height: 75px;
  width: 100%;
  background-color: blue;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 75%;
  margin: auto;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  list-style: none;
  margin: 20px;
}
header a {
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}
section.pirminis {
  height: calc(100vh - 75px);
  background-color: turquoise;
  font-size: 50px;
}

.pirminis .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.kortele {
  width: 30%;
  border: 1px solid black;
}
.kortele .kortelesnuotrauka {
  background-color: green;
  height: 200px;
}

.antrinis .container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.kortelesinfo {
  padding-left: 5px;
}
.pagrindinis {
  background-color: yellow;
  height: 200px;
  display: flex;
  align-items: center;
}
.pagrindinis .container {
  display: block;
}
footer {
  background-color: red;
  color: black;
}

.pagrindinis-footeris .container {
  display: flex;
  justify-content: space-between;
}
.container-body {
  width: 20%;
}
.container-body ul li {
  list-style: none;
}